:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --focus-text-color: #ffffff;
  --logo-text-color: #2e2f42;
  --logo-light-text-color: #f4f4fd;
  --backgrounds-text-color: #e7e9fc;
  --hover-text-color: #434455;
  --main-bacground-color: #ffffff;
  --dark-background-color: #2e2f42;
  --light-background-color: #f4f4fd;
  --subtle-backgrounds: #e7e9fc;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: var(--main-bacground-color);
  color: var(--title-text-color);
}
.header {
}
.header-navigation {
}
.logo,
.logo-black-color {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-black-color {
  color: var(--logo-text-color);
}
.header-list {
  list-style: none;
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.active {
  color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-text-color);
  text-decoration: none;
}
.header-link:active {
  color: var(--accent-color);
}
.header-mail,
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.hero {
  background: var(--dark-background-color);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--focus-text-color);
}
.hero-button {
    cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--focus-text-color);
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background: #4d5ae5;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}
.hero-button:active {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.section {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-content-container {
  list-style: none;
}
.benefits-text-container {
}
.benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* color: var(--title-text-color); */
}
.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* color: var(--title-text-color); */
}
.heading-images {
  list-style: none;
}
.section-employees {
  background-color: var(--light-background-color);
}
.team-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* color: var(--title-text-color); */
}
.team-cards {
  list-style: none;
}
.name-card-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--focus-text-color);
}
.name-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;

  /* color: var(--title-text-color); */
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.footer {
  background: var(--dark-background-color);
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-white {
  color: var(--logo-light-text-color);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--backgrounds-text-color);
}

.section-button-navigation {
}
.visually-hidden {
}
.button-navigation {
  list-style: none;
}
.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--accent-color);

  background: var(--light-background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.primary {
  color: var(--focus-text-color);
  background: var(--accent-color);
  align-items: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter {
  text-decoration: none;
}
.project-text {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: var(--main-bacground-color);
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.project-direction {
font-weight: 400;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: var(--primary-text-color);    
}


.projects {
  list-style: none;
}
